*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
}
#root{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 10px 5px 5px 5px rgb(15, 14, 14);
    border-radius: 8px;
}
body{
    background-color: royalblue;
}

.heading{
  box-sizing: border-box;
  height: 100px;
  padding-left: 20px;
  left: 100px;
  right: 100px;
  background: rgb(73, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px; 
  color: royalblue;
  font-size: 2.5rem;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6)
}
.para_All{
    color: black;
    line-height: 1.5;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
    color: #666;

}